<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PandeyTechShop</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: blueviolet;
        color: white;
      }
      div{
        max-width: 800px;
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to PandeyTechShop - Your Trusted Tech Repair Partner</h1>
    <div>
      Greetings and welcome to PandeyTechShop, your one-stop destination for
      top-notch tech item repair services! At PandeyTechShop, we understand the
      vital role technology plays in your daily life, and we're here to ensure
      that your devices receive the care they deserve.
    </div>
  </body>
</html>
